---
import { withBase } from '../utils/withBase';

interface Props {
  href: string;
  [key: string]: any;
}

const { href, ...attrs } = Astro.props;
const url = withBase(href);
---

<a href={url} {...attrs}><slot /></a>